.row1{
    display: grid;
    gap: 20px;
    grid-template-columns: 25% 25% 25% 25%;
}
.col1{
    border: 0.5px solid rgba(0, 0, 0, 0.421);
  padding: 15px 0;
  text-align: center;
}
.col1 img{
    width: 100%;
}
footer{
    height: 50px;
}
footer p{
   line-height: 50px;
}